matplotlib==3.9.3
numpy==2.2.0
bilby
scipy
progressbar
emcee
pyyaml
jinja2
cython
george
nestle
elk-waveform>=0.13
lalsuite
h5py
click
asimov
pesummary
nessai
elk-waveform
gpytorch==1.0.1
torch==2.4.0
torchvision
bilby_pipe
