numpy
scipy
progressbar
emcee
pyyaml
jinja2
cython
george
nestle

sphinx
sphinx-versions
kentigern
sphinxcontrib-bibtex
numpydoc==1.8.0
git+https://github.com/transientlunatic/sphinx-daniel-theme.git
nbsphinx==0.9.5